@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.woff2?t=1678803354496') format('woff2'),
       url('../fonts/iconfont.woff?t=1678803354496') format('woff'),
       url('../fonts/iconfont.ttf?t=1678803354496') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuzi-:before {
  content: "\e609";
}

.icon-shuzi-1:before {
  content: "\e60a";
}

.icon-shuzi-2:before {
  content: "\e60b";
}

.icon-shuzi-3:before {
  content: "\e60c";
}

.icon-shuzi-4:before {
  content: "\e60d";
}

.icon-shuzi-5:before {
  content: "\e60e";
}
