<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>用户表单</title>
  <link rel="stylesheet" href="/doc//lib/layui/css/layui.css">
  <script src="/doc/lib/layui/layui.js" charset="utf-8"></script>
  <script src="/js/HttpUtil.js"></script>
  <script src="/doc//lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>

<body >

<form class="layui-form " style="margin:20px 0px 0px 20px;">
  <input type="hidden" id="id"/>
  <div class="layui-form-item">
    <label class="layui-form-label">修改的密码</label>
    <div class="layui-input-inline">
      <input type="text" name="password" id="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script>
  layui.use(['upload', 'element','form','jquery'], function(){
    var form = layui.form ,
            upload = layui.upload,
            element = layui.element,
            layer = layui.layer,
            $= layui.jquery;

    //监听表单提交
    form.on('submit(formDemo)', function(data){
      var password = $.trim($("#password").val());
      var id = $.trim($("#id").val());
      $.ajax({
        url: '/login/updatePassword',
        type: 'POST',
        data:{
          "id":id,
          "password": password

        },
        success:function(data){
          if(data.code == 200){
            layer.msg("修改成功",{time:2000,icon: 1})

          }
        }
      })
      return false;
    });

  });
  userInfo(function (res) {
    console.log(res)
    $("#id").val(res.data.id)
  })
</script>
</body>
</html>
