<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.yayangchun.traditionalchinesemedicinemuseum.dao.UserInfoDao">
    <update id="UserListUpDataById" >
        UPDATE user_info set username=#{username} WHERE user_id=#{id}
    </update>

    <select id="queryUserInfoByDepId"
            resultType="com.yayangchun.traditionalchinesemedicinemuseum.enity.UserInfo">
            select * from user_info ui,user us where ui.user_id = us.id and us.department_id = #{depId}
    </select>
    <select id="findAllByRole" resultType="com.yayangchun.traditionalchinesemedicinemuseum.enity.UserInfo">
        select * from user_info ui,user us where ui.user_id = us.id and us.power = #{power}
    </select>


</mapper>
